<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- linking our custom css file -->
        <%- style %>
    </head>
    <body>
        <!-- inluding header -->
        <%- include('_header') %>

        <!-- n=including body by express layouts -->
        <%- body %>

        <!-- including footer -->
        <%- include('_footer') %>

        <%- script %>

    </body>
</html>